{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}Online Shop{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  <div id="header">
    <a href="/" class="logo">My shop</a>
  </div>
  <div id="subheader">
    <div class="cart">
      {% with total_items=cart|length %}
        {% if total_items > 0 %}
          Корзина:
          <a href="{% url "cart:cart_detail" %}">
            {{ total_items }} шт.
            ${{ cart.get_total_price }}
          </a>
        {% else %}
          Корзина пуста
        {% endif %}
      {% endwith %}
    </div>
  </div>

  <div id="content">
    {% block content %}
    <!-- Page content goes here -->
    {% endblock %}
  </div>
  {% comment %} <script src="{% static 'js/main.js' %}"></script> {% endcomment %}
  {% comment %} {% block extra_js %}{% endblock %} {% endcomment %}
</body>
</html>